/* resetting defaults */
html {
  font-size: 100%;
  color: hsl(192, 100%, 9%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* mixins */
@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin body-margin {
  max-width: 1204px;
  margin: 0 auto;
  padding: 0 2rem;
}

@mixin button {
  background: hsl(322, 100%, 66%);
  color: white;
  font-family: "Open sans", sans-serif;
  padding: 0.4rem 1.5rem;
  border-radius: 20px;
  border: 1px solid hsl(322, 100%, 66%);
  cursor: pointer;
}

@mixin cta {
  @include button;
  display: inline-block;
  padding: 1rem 4rem;
  margin-bottom: 5rem;
  font-weight: 600;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    background: hsl(321, 100%, 78%);
    border: 1px solid hsl(321, 100%, 78%);
  }
}

/* global styles */
a {
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: capitalize;
}

h1,
h3 {
  font-family: "Poppins", serif;
  padding-bottom: 1.5rem;
}

h3 {
  text-transform: uppercase;
}

p {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
}

.img-content img {
  max-width: 100%;
  height: auto;
}

section h1 {
  font-size: 2rem;
}

header,
main,
footer {
  @include body-margin;
}
