.hero {
  text-align: center;
  padding-top: 7rem;

  h1 {
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
  }

  p {
    max-width: 30rem;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

  a {
    @include cta;
  }
}

.stats-content {
  @include flex;
  justify-content: space-evenly;
  padding-top: 4rem;

  img {
    float: left;
  }

  h1 {
    font-size: 4rem;
  }

  p {
    color: hsl(197, 4%, 65%);
  }
}
