header {
  @include body-margin;
  @include flex;
  min-height: 15vh;

  a {
    @include button;
    background: white;
    color: hsl(322, 100%, 66%);
    transition: box-shadow 0.3s ease-in-out;

    &:hover,
    &:focus {
      box-shadow: 4px 4px 20px hsla(322, 100%, 66%, 0.2);
    }
  }
}
